@page "/viewhanghoa"

<h3>Danh sách hàng hóa</h3>

<button class="btn btn-primary m-3" type="button" @onclick="Themmoi">Thêm mới</button>
@if (lstsv == null)
{
    <div>Loadding...</div>
}
@if (lstsv != null)
{
    <table class="table">
        <thead>
            <tr>               
                <th>Tên hàng hóa</th>
                <th>Mô tả</th>
                <th>Đơn giá</th>
                <th>Giảm giá</th>
                <th>Loại</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var x in lstsv)
            {
            <tr>
                <td>@x.TenHH</td>
                <td>@x.MoTa</td>
                <td>@x.DonGia</td>
                <td>@x.GiamGia</td>
                <td>@x.MaLoai</td>
                <td>
                    <button class="btn btn-secondary" @onclick="@(()=>Sua(@x.MaHH))">Sửa</button>
                    <button class="btn btn-danger" @onclick="@(()=>Xoa(@x.MaHH))">Xóa</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}